# ignore everything
*

# ... except for directories
!*/

# ... and the following file types:
!CMakeLists.txt
!README.md
!LICENSE
!LICENSE.txt
!.gitignore
!*.cpp
!*.c
!*.cc
!*.h
!*.hpp
!*.hlsl
!*.clang-format
!*.vcxproj
!*.sln
!*.cso